
<br/>
<div class="container mt-4 mb-4">
	{{#if isGerman}}
		Das AVCC Foyer ist ein freundlicher Treffpunkt, an dem Sie allein, mit Ihrem Musikkomitee oder mit Ihrem Komitee kommen können, um Partituren und Dokumente einzusehen, bevor Sie ein Programm erstellen. Alle Dokumente sind vor Ort einzusehen. Sie sind im RERO-Katalog zu finden, mit einer Fülle von Informationen, die für Chorleiter nützlich sind. Ab Anfang 2018 wurde ein Teil dieser Musik in den freien Zugang des Médiathèque-Valais gestellt und kostenlos konsultiert. Es ist jedoch weiterhin möglich, einen Termin mit dem Archivar für eine gezielte Recherche oder Beratung zu vereinbaren.
	{{else}}
		<p>
			Le Foyer AVCC est un lieu de rencontre convivial où venir seul, avec sa commission de musique ou avec son comité pour consulter des partitions et des documents avant de bâtir un programme. Tous les documents sont à consulter sur place. Ils sont visibles dans le catalogue RERO, avec une multitude de renseignements utiles aux chefs de chœurs. Dès le début 2018, une partie de cette musique a été placée au libre accès de la Médiathèque-Valais pour être consultée librement. Cependant, il sera encore possible de prendre rendez-vous avec l’archiviste pour une recherche spécifique ou des conseils.
		</p>
	{{/if}}

	</p>

	La Médiathèque Valais à Sion se trouve à la Rue de Lausanne 45.
	<div class="mapouter">
		<div class="gmap_canvas">
			<iframe 
					width="600" height="500" 
					id="gmap_canvas" 
					src="https://maps.google.com/maps?q=rue%20de%20Lausanne%2024&t=&z=13&ie=UTF8&iwloc=&output=embed" 
					frameborder="0" 
					scrolling="no"
					marginheight="0" 
					marginwidth="0">
			</iframe>
			<a href="https://www.pureblack.de">homepage erstellen lassen</a>
		</div>
		<style>
			.mapouter{text-align:right;height:500px;width:600px;}
			.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}
		</style>
	</div>
	{{#if isGerman}}
		<p>F&uuml;r die Recherche und Beratung von Partituren wenden Sie sich bitte vorab an uns:<br />Anne-Fran&ccedil;oise Andenmatten Sierro<br />Privattelefon: 027 323 19 28 oder 079 232 54 54 54 02 02<br />E-Mail: <a href="mailto:annef-vociamici@bluewin.ch">annef-vociamici@bluewin.ch</a></p>
		<p>Fast 20'000 Partituren</p>
		<ul>
			<li>S&auml;kulare</li>
			<li>Religi&ouml;se Frauen</li>
			<li>Von allen Zeiten und allen m&ouml;glichen Arten.</li>
			<li>Aus verschiedenen Verlagen</li>
			<li>F&uuml;r alle Arten von Ch&ouml;ren: gemischt, Damen, Herren, Jugendliche, Kinder, etc.</li>
		</ul>
		<p>B&uuml;cher und Dokumentationen</p>
		<ul>
			<li>Musikalische Theorie</li>
			<li>Chormusik und Komponisten</li>
			<li>Chorleitung</li>
			<li>Pose der Stimme</li>
			<li>Aufzeichnungen</li>
			<li>Liturgische Rezensionen (Choristen, Neue Stimmen, Musikzeichen, Kirchenlieder, etc.)</li>
			<li>Dokumente &uuml;ber die Liturgie, ihre Akteure, ihre Riten usw.</li>
		</ul>
	{{else}}
					<p>Pour la recherche et la consultation des partitions, prendre pr&eacute;alablement contact avec :<br />Anne-Fran&ccedil;oise Andenmatten Sierro<br />T&eacute;l. priv&eacute; : 027 323 19 28 ou 079 232 54 02<br />E-mail&nbsp;:&nbsp;<a href="mailto:annef-vociamici@bluewin.ch">annef-vociamici@bluewin.ch</a></p>
					<p>Pr&egrave;s de 20&rsquo;000 partitions</p>
					<ul>
						<li>Profanes</li>
						<li>Religieuses</li>
						<li>De toutes &eacute;poques et de tous genres</li>
						<li>De diff&eacute;rentes maisons d&rsquo;&eacute;dition</li>
						<li>Pour tous types de choeurs: mixtes, dames, hommes, jeunes, enfants</li>
					</ul>
					<p>Des livres et des documentaires</p>
					<ul>
						<li>Th&eacute;orie musicale</li>
						<li>Musique chorale et compositeurs</li>
						<li>Direction chorale</li>
						<li>Pose de voix</li>
						<li>Enregistrements</li>
						<li>Revues liturgiques (Choristes, Voix Nouvelles, Signes Musiques, Chantons en Eglise, etc.)</li>
						<li>Documents sur la liturgie, ses acteurs, ses rites, etc.</li>
					</ul>
					
	{{/if}}
	
</div>
